<div class="skill-container row">
	<h2>Hard & Soft Skills</h2>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="40"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="300"
		></circle-progress>																
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="40"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="300"
		></circle-progress>																
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="40"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="300"
		></circle-progress>																
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="40"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="300"
		></circle-progress>																
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="40"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="300"
		></circle-progress>																
	</div>
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
		<circle-progress
		  [percent]="85"
		  [radius]="40"
		  [outerStrokeWidth]="10"
		  [innerStrokeWidth]="3"
		  [outerStrokeColor]="'#78C000'"
		  [innerStrokeColor]="'#C7E596'"
		  [animation]="true"
		  [animationDuration]="300"
		></circle-progress>																
	</div>	
</div>
