<div class="about-container row " style="background-color: #C8EFE8">
	<div class="qualification-container col-4">
		<img class="faceImg img-fluid" [src]="face" alt="Imagen de Perfil" width="18%">
		<h1 class="name text-center">Alberto Alfredo Fernández</h1>
		<p class="qualification text-center">
			Desarrollador Web Full Stack
		</p>
	</div>
	<div class="text-about col-8">
		<h3 class="section-title">Sobre Mí</h3>
		<p class="about-description text-justify">
			Soy Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla 
		</p>
	</div>
</div>
