.work-container {
	margin-top: 0.5rem;
	margin-left: 1.5rem;
	margin: 0 50px;
	img.img-work {
		width: 80px;
		height: 80px;		
	}

	.text-work {
		margin-left: 3rem;
		h5 {
			font-size: 1.5rem;
		}
		.work-description {
			font-size: 0.75rem;
		}
	}

	//.edition-container {
	//	display: flex;
	//	flex-direction: column;
	//	align-items: center;
	//	margin: 20px;
	//}
}